<div id="saved-layers-page" data-role="page" data-theme="a">

  {{header}}

  <div data-role="content" class="ui-content">
    <div class="non-map-body-white ui-overlay-shadow">
      <div id="saved-layers-page-header" class="content-header ui-header">
        <h2>{{body["header"]}}</h2>
      </div>
      <div id="saved-layers-list" class="non-map-content">
        <ul id="saved-layers-list-list"
            class="layers-list"
            data-role="listview"
            data-filter="true">
        </ul>
      </div>
    </div>
  </div>

  {{popups}}

  {{footer}}

</div>
